<div class="co-md-6">
    <h2 class="text-center">Add New Employee</h2>

    <form>
        <!-- <div class="form-group">
            <label for="id">Emp Id</label>
            <input [(ngModel)]="emp.empId" placeholder="Enter your ID" class="form-control" name="Employee ID"
                id="empId">
        </div> -->

        <div class="form-group">
            <label for="f_Name">First Name</label>
            <input type="name" [(ngModel)]="emp.f_Name" placeholder="Enter your first name" class="form-control"
                name="first name" id="f_Name">
        </div>

        <div class="form-group">
            <label for="l_Name">Last Name</label>
            <input type="name" [(ngModel)]="emp.l_Name" placeholder="Enter your last name" class="form-control"
                name="last name" id="l_Name">
        </div>

        <div class="form-group">
            <label for="contactNo">Phone Number</label>
            <input type="name" [(ngModel)]="emp.contactNo" placeholder="Enter your contact number" class="form-control"
                name="12345678" id="contactNo">
        </div>

        <div class="form-group">
            <label for="username">Email</label>
            <input type="name" [(ngModel)]="emp.username" placeholder="Enter your email" class="form-control"
                name="xxx@gmail.com" id="username">
        </div>

        <!-- <div class="form-group">
            <label for="deptId">Dept ID</label>
            <input type="name" [(ngModel)]="dept.deptId" placeholder="Enter your department id" class="form-control"
                name="1" id="deptId">
        </div> -->

        <mat-form-field>
            <mat-label>Department</mat-label>
            <mat-select [(ngModel)]="dept.deptId" name="dept">
                <mat-option *ngFor="let dept of depts" [value]="dept.deptId">
                    {{dept.deptName}}
                </mat-option>
            </mat-select>
        </mat-form-field><br>

        <div mat-dialog-actions align="center">
            <button mat-raised-button (click)="createEmp()">Create</button>
        </div>
    </form>
</div>