<!-- <table border="1" align="center">

        <thead></thead>
        <tr align="center">
            <th>Dept Id</th>
            <th>Dept Name</th>
        </tr>
    
        <tbody *ngIf="loginService.isUserLoggedIn()">
            <tr *ngFor="let dept of depts">
                <td align="center">{{dept.deptId}}</td>
                <td align="center">{{dept.deptName}}</td>
            </tr>
            
            <tr align="center" *ngIf="loginService.isAdmin()">
                <th>
                    <button mat-raised-button class="btn btn-primary" (click)="openAddDeptDialog()">
                        Add
                    </button>
                </th>
            </tr>
        </tbody>
    
    
    </table> -->


<table mat-table [dataSource]="depts" class="mat-elevation-z8">


    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let dept"> {{dept.deptId}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Dept Name </th>
        <td mat-cell *matCellDef="let dept"> {{dept.deptName}} </td>
    </ng-container>



    <ng-container matColumnDef="actionsColumn">

        <th mat-header-cell *matHeaderCellDef>
            <button mat-icon-button *ngIf="loginService.isAdmin()" (click)="openAddDeptDialog()">
                <!-- <i class="fas fa-plus"></i> -->
                <mat-icon color="primary">note_add</mat-icon>
            </button>

            <!-- <button mat-raised-button class="btn btn-primary" *ngIf="loginService.isAdmin()"
                (click)="openAddDeptDialog()"> Add </button> -->
        </th>

        <td mat-cell *matCellDef="let dept">
            <button mat-icon-button *ngIf="loginService.isAdmin()" (click)="openEditDeptDialog(dept)">
                <mat-icon color="green">edit</mat-icon>
            </button>
        </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>