<div class="co-md-6">
    <h2 class="text-center">Add New Department</h2>

    <form>
        <div class="form-group">
            <label for="deptName">Department Name</label>
            <input type="name" [(ngModel)]="dept.deptName" placeholder="Enter new department name" class="form-control"
                name="department name" id="deptName">
        </div><br>

        <div mat-dialog-actions>
            <button mat-button (click)="createDept()">Add</button>
        </div>
    </form>
</div>