<header>
    <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="" class="navbar-brand"> eOffice </a></div>

        <ul class="navbar-nav">
            <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/emps" class="nav-link"> View Employees </a></li>
            <li><a *ngIf="loginService.isUserLoggedIn() && loginService.isAdmin()" routerLink="/addEmp" class="nav-link"> Add New Employee </a></li>
            <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link"> Login </a></li>
            <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link"> Logout </a></li>
        </ul>
        
    </nav> -->
    <!-- <div>HEADER</div> -->

    <mat-toolbar class="main-toolbar">
        <div class="logo" [routerLink]="'/'">
            <img src="/assets/EOffice_Logo.jpg">
        </div>
    </mat-toolbar>

    <nav mat-tab-nav-bar mat-align-tabs="end" animationDuration="200ms">
        <a mat-tab-link *ngIf="loginService.isUserLoggedIn()" routerLink="/emps" routerLinkActive
            #rla="routerLinkActive" [active]="rla.isActive">
            Employee List
        </a>

        <a mat-tab-link *ngIf="loginService.isUserLoggedIn()" routerLink="/depts" routerLinkActive
            #rla="routerLinkActive" [active]="rla.isActive">
            Department List
        </a>

        <a mat-tab-link *ngIf="loginService.isUserLoggedIn()" routerLink="/rooms" routerLinkActive
            #rla="routerLinkActive" [active]="rla.isActive">
            Room Ticket List
        </a>

        <a mat-tab-link *ngIf="loginService.isUserLoggedIn()" routerLink="/tasks" routerLinkActive
            #rla="routerLinkActive" [active]="rla.isActive">
            Task List
        </a>

        <a mat-tab-link *ngIf="!loginService.isUserLoggedIn()" routerLink="/register" routerLinkActive
            #rla="routerLinkActive" [active]="rla.isActive">
            Register
        </a>

        <a mat-tab-link *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" routerLinkActive
            #rla="routerLinkActive" [active]="rla.isActive">
            Login
        </a>

        <a mat-tab-link *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" routerLinkActive
            #rla="routerLinkActive" [active]="rla.isActive">
            Logout
        </a>
    </nav>

</header>