<table mat-table [dataSource]="forms" class="mat-elevation-z8" align="center" cellpadding="5">


    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let form"> {{form.formId}} </td>
    </ng-container>

    <ng-container matColumnDef="leaveType">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let form"> {{form.leaveType}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Start Date </th>
        <td mat-cell *matCellDef="let form"> {{form.startDate}} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> End Date </th>
        <td mat-cell *matCellDef="let form"> {{form.endDate}} </td>
    </ng-container>

    <ng-container matColumnDef="emp">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let form"> {{form.emp.f_Name}} {{form.emp.l_Name}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let form"> {{form.respond}} </td>
    </ng-container>

    <ng-container matColumnDef="actionsColumn">

        <th mat-header-cell *matHeaderCellDef> Respond </th>

        <td mat-cell *matCellDef="let form">
            <mat-select [(ngModel)]="form.respond" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let act of actions" [value]="act">
                    {{act}}
                </mat-option>
            </mat-select>
        </td>

    </ng-container>

    <ng-container matColumnDef="confirm">
        <th mat-header-cell *matHeaderCellDef> Confirm </th>
        <td mat-cell *matCellDef="let form">
            <button mat-raised-button align="right" (click)="respondForm(form)" class="btn btn-success">
                <!-- [disabled]="form.respond != 'Requesting' && act != '--'" disabled> -->
                Confirm
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>