<div class="co-md-6">
    <h2 class="text-center">Edit Employee</h2>

    <form>

        <div class="form-group">
            <label for="f_Name">First Name</label>
            <input type="name" [(ngModel)]="emp.f_Name" placeholder="Enter your first name" class="form-control"
                name="first name" id="f_Name">
        </div>

        <div class="form-group">
            <label for="l_Name">Last Name</label>
            <input type="name" [(ngModel)]="emp.l_Name" placeholder="Enter your last name" class="form-control"
                name="last name" id="l_Name">
        </div>

        <div class="form-group">
            <label for="contactNo">Phone Number</label>
            <input type="name" [(ngModel)]="emp.contactNo" placeholder="Enter your contact number" class="form-control"
                name="contact number" id="contactNo">
        </div>

        <!-- <div class="form-group">
            <label for="deptId">Dept ID</label>
            <input type="name" [(ngModel)]="dept.deptId" placeholder="Enter your department id" class="form-control"
                name="dept id" id="dept.deptId">
        </div> -->

        <mat-form-field>
            <mat-label>Department</mat-label>
            <mat-select [(ngModel)]="selectedDeptId" name="dept">
                <mat-option *ngFor="let dept of depts" [value]="dept.deptId">
                    {{dept.deptName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Cancel</button>
            <button mat-button (click)="editEmpClick()">Save</button>
        </div>
        <!-- <button class="btn btn-success" (click)="createEmp()">Create</button> -->
    </form>
</div>