<!-- <table border="1" align="center">



    <thead></thead>
    <tr align="center">
        <th>Emp Id</th>
        <th>Emp Name</th>
        <th>Contect Number</th>
        <th>Department</th>
        <th>
            <button mat-raised-button class="btn btn-primary" (click)="openAddEmpDialog()">
                Add
            </button>
        </th>
    </tr>

    <tbody *ngIf="loginService.isUserLoggedIn() && loginService.isAdmin()">
        <tr *ngFor="let emp of emps">
            <td align="center">{{emp.empId}}</td>
            <td align="center">{{emp.f_Name}} {{emp.l_Name}}</td>
            <td align="right">{{emp.contactNo}}</td>
            <td align="center">{{emp.dept.deptName}}</td>
            <td align="center">
                <button mat-raised-button class="btn btn-primary" (click)="openEditEmpDialog(emp)">
                    Edit
                </button>
            </td>
            <td align="center">
                <button mat-raised-button class="btn btn-danger" (click)="deleteEmp(emp)">
                    Delete
                </button>
            </td>
        </tr>
        <tr align="center">
            <th>
                <button mat-raised-button class="btn btn-primary" (click)="openAddEmpDialog()">
                    Add
                </button>
            </th>
        </tr>
    </tbody>


</table> -->


<table mat-table [dataSource]="emps" class="mat-elevation-z8">


    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let emp"> {{emp.empId}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let emp"> {{emp.f_Name}} {{emp.l_Name}} </td>
    </ng-container>

    <ng-container matColumnDef="contactNo">
        <th mat-header-cell *matHeaderCellDef> Contact No. </th>
        <td mat-cell *matCellDef="let emp"> {{emp.contactNo}} </td>
    </ng-container>

    <ng-container matColumnDef="dept">
        <th mat-header-cell *matHeaderCellDef> Department </th>
        <td mat-cell *matCellDef="let emp"> {{emp.dept.deptName}} </td>
    </ng-container>

    <ng-container matColumnDef="actionsColumn">

        <mat-header-cell *matHeaderCellDef>
            <button mat-raised-button class="btn btn-primary" (click)="openAddEmpDialog()">Create new</button>
        </mat-header-cell>
        <mat-cell *matCellDef="let emp">
            <button mat-raised-button class="btn btn-primary" (click)="openEditEmpDialog(emp)">Edit</button>
            <button mat-raised-button class="btn btn-danger" (click)="deleteEmp(emp)">Delete</button>
        </mat-cell>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>