<div class="co-md-6">
    <h2 class="text-center">Assign New Task</h2>

    <form>

        <div class="form-group">
            <label for="taskName">Name</label>
            <input type="name" [(ngModel)]="task.taskName" placeholder="Task Title" class="form-control"
                name="task name" id="taskName">
        </div>

        <div class="form-group">
            <label for="taskText">Content</label>
            <textarea type="text" [(ngModel)]="task.taskText" placeholder="Task Description" class="form-control"
                name="task text" id="taskText"></textarea>
        </div>


        <div>
            <mat-form-field>
                <mat-label>Principal Employee</mat-label>
                <mat-select [(ngModel)]="emp.empId" name="emp">
                    <mat-option *ngFor="let emp of emps" [value]="emp.empId">
                        {{emp.f_Name}} {{emp.l_Name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field>
                <input matInput [matDatepickerFilter]="myFilter" [min]="minDate" [matDatepicker]="startPicker"
                    [(ngModel)]="sDate" [ngModelOptions]="{standalone: true}" placeholder="Start Date">
                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <mat-form-field>
                <input matInput [matDatepickerFilter]="myFilter" [min]="sDate" [matDatepicker]="endPicker"
                    [(ngModel)]="eDate" [ngModelOptions]="{standalone: true}" placeholder="End Date">
                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>
        </div>

        <div mat-dialog-actions align="center">
            <button mat-raised-button (click)="createTask()">Send</button>
        </div>
    </form>
</div>