<div class="co-md-6">
    <h2 class="text-center">Assign New Task</h2>

    <form>

        <div class="form-group">
            <label for="taskName">Name</label>
            <input type="name" [(ngModel)]="task.taskName" placeholder="Enter the task name" 
            class="form-control" name="task name" id="taskName">
        </div>

        <div class="form-group">
            <label for="taskText">Content</label>
            <textarea type="text" [(ngModel)]="task.taskText" placeholder="Description" 
            class="form-control" name="task text" id="taskText"></textarea>
        </div>

        

        <mat-form-field>
            <mat-label>Employee</mat-label>
            <mat-select [(ngModel)]="emp.empId" name="emp">
                <mat-option *ngFor="let emp of emps" [value]="emp.empId">
                    {{emp.f_Name}} {{emp.l_Name}}
                </mat-option>
            </mat-select>
        </mat-form-field><br>


        
        <mat-form-field>
            <input matInput [matDatepickerFilter]="myFilter" [min]="minDate" [matDatepicker]="startPicker"
            [(ngModel)]="sDate" placeholder="Choose the start date">
            <!-- [formControl]="sDate" placeholder="Choose the start date"> -->
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
                  </mat-form-field>

          <mat-form-field>
            <input matInput [matDatepickerFilter]="myFilter" [min]="sDate" [matDatepicker]="endPicker"
            [(ngModel)]="eDate"  placeholder="Choose the end date">
            <!-- [formControl]="eDate"  placeholder="Choose the end date"> -->
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>


        <div mat-dialog-actions>
            <button mat-button (click)="createTask()">Send</button>
        </div>
    </form>
</div>